{% extends 'base.html' %}

{% load rules %}

{% has_perm 'nina.edit_project' request.user object as can_edit %}
{% block content %}
  <h2>{{ object.name }}</h2>
  <p>{{ object.description|default_if_none:"No description" }}</p>
  <h3 class="mt-5">Additional info</h3>
  <table class="table mt-4">
    <thead>
      <tr>
        <th>Field</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Topics</td>
        <td></td>
      </tr>
      <tr>
        <td>Category</td>
        <td>{{ object.category }}</td>
      </tr>
      <tr>
        <td>Customer</td>
        <td>{{ object.customer }}</td>
      </tr>
      <tr>
        <td>Start Date</td>
        <td>{{ object.start_date }}</td>
      </tr>
      <tr>
        <td>End Date</td>
        <td>{{ object.end_date }}</td>
      </tr>
      <tr>
        <td>Budget</td>
        <td>{{ object.budget }}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td>{{ object.status }}</td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex">
    {% if can_edit %}
      <a class="btn btn-primary mx-1"
         href="{% url 'projects-edit' pk=object.pk %}">Edit</a>
    {% endif %}
    <a class="btn btn-secondary mx-1" href="{% url 'projects-list' %}">Back</a>
  </div>
{% endblock content %}
