{% extends "app.html" %}

{% block article %}
  <div>
    <h1 class="text-4xl font-bold">Services Available</h1>
    <ul class="list-disc pl-5">
      <li>
        <a href="{% url 'maps:portals-list' %}">Map portals</a>
      </li>
      <li>
        <a href="{% url 'dataset-list' %}">Datasets</a>
      </li>
      <li>
        <a href="{% url 'csw' %}">CSW</a>
      </li>
      <li>
        <a href="{% url 'geoapi:landing-page' %}">GeoAPI</a>
      </li>
    </ul>
  </div>
{% endblock article %}
