{% load i18n %}

<header class="sticky top-0 z-999 flex w-full navbar bg-white drop-shadow-1 dark:bg-boxdark dark:drop-shadow-none">
  <div class="flex flex-grow items-center justify-between px-4 py-4 shadow-2 md:px-6 2xl:px-11">
    <div>
      <a class="navbar-brand fw-bolder" href="{% url 'home' %}">
        {% block navigation_title %}
          {{ PROJECT_NAME }}
        {% endblock navigation_title %}
      </a>
    </div>
    <div class="flex items-center gap-3 2xsm:gap-7">
      {% if user.is_authenticated %}
        {% include 'core/partials/user-dropdown.html' %}
      {% else %}
        <a href="{% url 'account_login' %}">Login</a>
      {% endif %}
    </div>
  </div>
</header>
